*.dproj.local
Proj/DelphiXE5/Android/
AndroidManifest.template.xml
Proj/DelphiXE5/backtrace.o
*.deployproj
Proj/DelphiXE5/Win32/
Proj/DelphiXE5/a.out
Proj/DelphiXE5/BacktraceTestProj.dsk
Proj/DelphiXE5/BacktraceTestProj.identcache
